@import 'variables';

input {
  border: 0;
  border-bottom: 1px solid $lightgrey;
  color: $darkgrey;
  display: inline-block;
  margin: 0;
  outline: none;
}

label {
  font-weight: 500;
  position: absolute;
  padding: 12px;
  text-align: left;
}

.field {
  flex: 1;
  padding: 10px;
  position: relative;
}
